.BarebonesBaseHud{

     width: 100%;
     height: 100%;
}

 .BarebonesTopNotifications{

     width: 100%;
     height: 100%;
     flow-children: down;
 }

 .BarebonesBottomNotifications{

     width: 100%;
     height: 100%;
     flow-children: down;
 }

 .NotificationLine{

     margin-top: 15px;
     flow-children: right;
     horizontal-align: center;
     vertical-align: middle;
     animation-name: scalein;
     animation-duration: .5s;
     animation-timing-function: linear;
 }

 #TopNotifications{

     flow-children: down;
     horizontal-align: center;
     width:100%;
     opacity: 1;
     margin-top: 64px;
     visibility: visible;
     border: 0px solid blue;
 }

 #BottomNotifications{

     flow-children: down;
     horizontal-align: center;
     vertical-align: bottom;
     width: 100%;
     opacity: 1;
     margin-bottom: 375px;
     visibility: visible;
     border: 0px solid blue;
 }

 .NotificationMessage{

     color: white;
     vertical-align: center;
     horizontal-align: center;
     text-shadow: 4px 4px 4px #121212;
     font-size: 36px;
     font-weight: bold;
     text-align: center;
 }

 .HeroImage{

     vertical-align: center;
     horizontal-align: center;
 }

 @keyframes 'scalein'{
   from{
     opacity:0;
     transform: scaleX(2) scaleY(2);
   }

   to{
     opacity:1;
     transform: scaleX(1) scaleY(1);
   }
}

.notification_banned
{
     align: center top;
     margin-top: 10%;
     flow-children: down;
     min-width: 280px;
     padding-bottom: 10px;
     background-color: gradient(linear, 100% 0%, 0% 0%, from(rgba(43, 63, 33, 0.65)), to(rgba(30, 39, 20, 0.65)));
     border: 1px solid rgba(212, 255, 89, 0.25);
}

.notification_label_banned
{
     font-family: 'Radiance';
     font-weight: bold;
     font-size: 16px;
     letter-spacing: 2px;
     color: #DADADA;
     text-shadow: 1px 2px 4px 3 rgba(0, 0, 0, 0.25);
     text-transform: uppercase;
     text-align: center;
     align: center center;
}

.panel_info_and_crest
{
     width: 100%;
     height: 30px;
     background-color: gradient(linear, 100% 0%, 0% 0%, from(rgba(43, 63, 33, 0.65)), to(rgba(30, 39, 20, 0.65)));
     border: 1px solid rgba(212, 255, 89, 0.25);
}

.HeroImageBanned
{
     width: 52px;
     height: 52px;
     border-radius: 50%;
     margin-top: 10px;
     horizontal-align: center;
     margin: 2px;
     box-shadow: black 0px 0px 5px 0px;
     border: 2px solid white;
     border-brush: gradient(radial, 0% 0%, 2% 10%, 100% 100%, from(rgba(178, 255, 141, 1)), to(rgba(164, 255, 121, 0.02)));
}

.banned_ab
{
     width: 48px;
     height: 48px;
     margin: 2px;
     box-shadow: black 0px 0px 5px 0px;
     border: 2px solid white;
     border-brush: gradient(radial, 0% 0%, 2% 10%, 100% 100%, from(rgba(178, 255, 141, 1)),to(rgba(164, 255, 121, 0.02)));
}

.notification_banned_banned_heroes
{
     flow-children: right-wrap;
     horizontal-align: center;
     margin: 5px;
}

.notification_banned_banned_abilities
{
     flow-children: right-wrap;
     horizontal-align: center;
     margin: 10px;
}

.notification_close
{
     width: 25px;
     height: 25px;
     horizontal-align: right;
     background-image: url("file://{images}/custom_game/close.png");
     background-size: 100%;
     vertical-align: center;
     margin-bottom: 1px;
}