.BarebonesBaseHud{

     width: 100%;
     height: 100%;
}

 .BarebonesTopNotifications{

     width: 100%;
     height: 100%;
     flow-children: down;
 }

 .BarebonesBottomNotifications{

     width: 100%;
     height: 100%;
     flow-children: down;
 }

 .NotificationLine{

     margin-top: 15px;
     flow-children: right;
     horizontal-align: center;
     vertical-align: middle;
     animation-name: scalein;
     animation-duration: .5s;
     animation-timing-function: linear;
 }

 #TopNotifications{

     flow-children: down;
     horizontal-align: center;
     width:100%;
     opacity: 1;
     margin-top: 64px;
     visibility: visible;
     border: 0px solid blue;
 }

 #BottomNotifications{

     flow-children: down;
     horizontal-align: center;
     vertical-align: bottom;
     width: 100%;
     opacity: 1;
     margin-bottom: 375px;
     visibility: visible;
     border: 0px solid blue;
 }

 .NotificationMessage{

     color: white;
     vertical-align: center;
     horizontal-align: center;
     text-shadow: 4px 4px 4px #121212;
     font-size: 36px;
     font-weight: bold;
     text-align: center;
 }

 .HeroImage{

     vertical-align: center;
     horizontal-align: center;
 }

 @keyframes 'scalein'{
   from{
     opacity:0;
     transform: scaleX(2) scaleY(2);
   }

   to{
     opacity:1;
     transform: scaleX(1) scaleY(1);
   }
}

.notification_banned
{
     align: center top;
     margin-top: 10%;
     flow-children: down;
     background-image: url("file://{images}/custom_game/bg_hud_inspect_psd.png");
     background-size: 100%;
     padding: 10px;
     box-shadow: black 0px 0px 5px 1px;
}

.notification_label_banned
{
     font-size:24px;
     color:white;
     font-weight:bold;
     text-shadow: 1px 1px 3px 3.0 black
     color: white;
     horizontal-align: center;
     margin-bottom: 5px;
     text-transform: uppercase;
}

.HeroImageBanned
{
     width: 70px;
     height: 70px;
     border-radius: 50%;
     margin-top: 10px;
     horizontal-align: center;
     margin: 5px;
     box-shadow: black 0px 0px 5px 0px;
}

.banned_ab
{
     width: 64px;
     height: 64px;
     margin: 5px;
     box-shadow: black 0px 0px 5px 0px;
}

.notification_banned_banned_heroes
{
     flow-children: right-wrap;
     horizontal-align: center;
     margin: 10px;
}

.notification_banned_banned_abilities
{
     flow-children: right-wrap;
     horizontal-align: center;
     margin: 10px;
}

.notification_close
{
     width: 20px;
     height: 20px;
     horizontal-align: right;
     background-image: url("s2r://panorama/images/control_icons/x_close_grey_psd.vtex");
     background-size: 100% 100%;
     wash-color: white;
     transition-property: wash-color;
     transition-duration: 0.1s;
     brightness: 3;
     margin-bottom: 5px;
}