@keyframes 'BulletMove'{

     0%{

      transform: translateX( 1920px );
     }
     100%{

      transform: translateX( -800px );
     }
}

 @keyframes 'maskedAnimation'{
   0%{
    color: gradient( linear, 0% 0%, 100% 0%, from( #f22 ), 
     color-stop(0.15, #f2f), 
     color-stop(0.3, #22f), 
     color-stop(0.45, #2ff), 
     color-stop(0.6, #2f2), 
     color-stop(0.75, #2f2), 
     color-stop(0.9, #ff2), 
      to( #f22 ) )
    ;
   }12%{
    color: gradient( linear, 0% 0%, 100% 0%, from( #f22 ), 
     color-stop(0.15, #f22), 
     color-stop(0.3, #f2f), 
     color-stop(0.45, #22f), 
     color-stop(0.6, #2ff), 
     color-stop(0.75, #2f2), 
     color-stop(0.9, #2f2), 
      to( #ff2 ) )
    ;
   }24%{
     color: gradient( linear, 0% 0%, 100% 0%, from( #ff2 ), 
     color-stop(0.15, #f22), 
     color-stop(0.3, #f22), 
     color-stop(0.45, #f2f), 
     color-stop(0.6, #22f), 
     color-stop(0.75, #2ff), 
     color-stop(0.9, #2f2), 
      to( #2f2 ) )
     ;
   }
   36%{
     color: gradient( linear, 0% 0%, 100% 0%, from( #2f2 ), 
     color-stop(0.15, #ff2), 
     color-stop(0.3, #f22), 
     color-stop(0.45, #f22), 
     color-stop(0.6, #f2f), 
     color-stop(0.75, #22f), 
     color-stop(0.9, #2ff), 
      to( #2f2 ) )
     ;
   }
   48%{
     color: gradient( linear, 0% 0%, 100% 0%, from( #2f2 ), 
     color-stop(0.15, #2f2), 
     color-stop(0.3, #ff2), 
     color-stop(0.45, #f22), 
     color-stop(0.6, #f22), 
     color-stop(0.75, #f2f), 
     color-stop(0.9, #22f), 
      to( #2ff ) )
     ;
   }60%{
     color: gradient( linear, 0% 0%, 100% 0%, from( #2ff ), 
     color-stop(0.15, #2f2), 
     color-stop(0.3, #2f2), 
     color-stop(0.45, #ff2), 
     color-stop(0.6, #f22), 
     color-stop(0.75, #f22), 
     color-stop(0.9, #f2f), 
      to( #22f ) )
     ;
   }
   72%{
     color: gradient( linear, 0% 0%, 100% 0%, from( #22f ), 
     color-stop(0.15, #2ff), 
     color-stop(0.3, #2f2), 
     color-stop(0.45, #2f2), 
     color-stop(0.6, #ff2), 
     color-stop(0.75, #f22), 
     color-stop(0.9, #f22), 
      to( #f2f ) )
     ;
   }
   84%{
     color: gradient( linear, 0% 0%, 100% 0%, from( #f2f ), 
     color-stop(0.15, #22f), 
     color-stop(0.3, #2ff), 
     color-stop(0.45, #2f2), 
     color-stop(0.6, #2f2), 
     color-stop(0.75, #ff2), 
     color-stop(0.9, #f22), 
      to( #f22 ) )
     ;
   }
   100%{
    color: gradient( linear, 0% 0%, 100% 0%, from( #f22 ), 
     color-stop(0.15, #f2f), 
     color-stop(0.3, #22f), 
     color-stop(0.45, #2ff), 
     color-stop(0.6, #2f2), 
     color-stop(0.75, #2f2), 
     color-stop(0.9, #ff2), 
      to( #f22 ) )
    ;
   }
 }

 @keyframes 'fizzy'{
     0%{
         text-shadow: 0 0 6px #fe0702;
     }
     9%{
         text-shadow: 0 0 6px #ff4103;
     }
     18%{
         text-shadow: 0 0 6px #fe8005;
     }
     27%{
         text-shadow: 0 0 6px #ffbf08;
     }
     36%{
         text-shadow: 0 0 6px #ffff07;
     }
     45%{
         text-shadow: 0 0 6px #80ff0f;
     }
     54%{
         text-shadow: 0 0 6px #04ff0f;
     }
     63%{
         text-shadow: 0 0 6px #01faff;
     }
     72%{
         text-shadow: 0 0 6px #0000fe;
     }
     81%{
         text-shadow: 0 0 6px #7d04ff;
     }
     90%{
         text-shadow: 0 0 6px #fe05ff;
     }
     100%{
         text-shadow: 0 0 6px #fe0980;
     }
 }



 .BulletPanel{
    height: 40px;
    font-size:25px;
    flow-children: right;
    animation-name: BulletMove;
    animation-duration: 17s;
    animation-timing-function: linear;
 }


 .diretide Label{

   text-shadow: 0px 0px 2px 2.0 #000;
   font-family: Goudy Trajan Medium,FZKai-Z03,TH Sarabun New,YDYGO 540;
   color: gradient( linear, 0% 0%, 0% 100%, from( #ACC7CE ), color-stop( .2, #08536A ), to( #04FFD4 ) );
 }


 .new_bloom Label{

   font-family: titleFont;
   color: gradient( linear, 0% 0%, 0% 100%, from( #85302e ), color-stop( .45, #C44745 ), to( #ffae69 ) );
   text-shadow: 2px 2px 4px black;
 }


 .planet_fall Label{
   color: gradient ( linear, 0% 0%, 100% 0%, from( #ffffff ), to( #54efff ) );
   font-family: 'Goudy Trajan';
   font-weight: bold;
   text-shadow: 1px 1px 4px 3.0 #84e4e520;
 }


 .flockheart_gamble Label{
   color: gradient ( linear, 0% 0%, 0% 100%, from( #ffffff ), to( #FDD045 ) );
   font-family: 'Goudy Trajan';
   font-weight: bold;
   text-shadow: 1px 1px 12px 3.0 #492D1F;
 }

 .rain_bow_barrage Label{
    color: gradient( linear, 0% 0%, 100% 0%, from( #147B96 ), color-stop( .25, #E6D205 ), color-stop( .5,#147B96 ), color-stop( .75, #E6D205 ), to( #147B96 ) );
    animation-name: maskedAnimation;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
 }
 .neon Label{
    color:white;
    animation-name: fizzy;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
 }

 .rubick_key Label{
   color: gradient ( linear, 0% 0%, 100% 0%, from( #d9fcc2), to( #52a12a ) );
   text-shadow: 0px 0px 6px #d9fcc240;
   font-weight: bold;
 }

 .frostivus_2019 Label{
   color: gradient( linear, 0% 0%, 0% 100%, from( #f6e6d6 ), to( #db5c4d ) );
   font-weight: semi-bold;
   letter-spacing: 2px;
   text-shadow: 0px 1px 3px 4 #49161570;
 }

 .Default Label{
   color: white;
 }


 #PlayerFinsh{
    font-size:25px;
 }

 #PlayerName{
    font-size:25px;
    margin-right: 5px;
 }

 #AttackPumpkin{
    font-size:25px;
 }
 #DealDamage{
    font-size:25px;
 }

 #GoldValue{
    font-size:24px;
    margin-top: 2px;
    color: #FFCC33FF;
    margin-right: 5px;
 }

 #DamageValue{
    font-size:25px;
 }

 #Plus{
    font-size:25px;
 }


 #GoldIcon{
   background-image:url("s2r://panorama/images/hud/reborn/gold_small_psd.vtex");
   background-size:100% 100%;
   width: 24px;
   height: 24px;
   margin-left: 5px;
   margin-right: 4px;
   margin-top: 5px;
 }

 #Round{
   font-size:25px;
 }

 #RoundNumber{
   font-size:25px;
 }

 #Finished{
   font-size:25px;
 }


 #Colon{
    font-size:25px;
 }

 #Content{
    font-size:25px;
 }

 .Content{
    font-size:25px;
 }

 .TeamLogo{

   height: 24px;
   width: 24px;
   margin-top: 5px;
 }


 .TeamLogo Image{

   height: 40px;
   width: 40px;
 }


 #TeamName{
    font-size:25px;
 }

 #HeroIcon{
   margin-top: 4px;
   width: 24px;
   height: 24px;
   margin-right: 5px;
}

.rainbow_nickname
{
    color: gradient( linear, 100% 0%, 0% 0%, from( rgb(0, 183, 255)), color-stop( 0.5, rgb(0, 255, 85)), to( #8e9198));
    animation-name: raindbow;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

 .rainbow_nickname_animate
{
  animation-name: Colorgradient;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  font-weight: bold;
  text-shadow: 0px 0px 8px 0 gold;
}

#smile_icon
{
  width: 24px;
  height: 24px;
  margin-top: 5px;
}

 @keyframes 'Colorgradient'{
     0%{
         color: gradient( linear, 100% 0%, 0% 0%, from( #fedd45, color-stop( 0.5, #fff700), to( #eebb0a));
          text-shadow: 0px 0px 8px 0 gold;
     }
     25%{
         color: gradient( linear, 100% 0%, 0% 0%, from( #fff700), color-stop( 0.5, #eebb0a), to( #fedd45));
         text-shadow: 0px 0px 8px 1 gold;
     }
     50%{
         color: gradient( linear, 100% 0%, 0% 0%, from( #eebb0a), color-stop( 0.5, #fedd45), to( #fff700));
         text-shadow: 0px 0px 8px 2 gold;
     }
     75%{
         color: gradient( linear, 100% 0%, 0% 0%, from( #fff700), color-stop( 0.5, #eebb0a), to( #fedd45));
         text-shadow: 0px 0px 8px 1 gold;
     }
     100%{
         color: gradient( linear, 100% 0%, 0% 0%, from( #fedd45), color-stop( 0.5, #fff700), to( #eebb0a ));
         text-shadow: 0px 0px 8px 0 gold;
     }
}

 @keyframes 'raindbow'{
     0%{
         color: gradient( linear, 100% 0%, 0% 0%, from( rgb(0, 183, 255) ), color-stop( 0.5, rgb(0, 255, 85) ), to( #8e9198 ));
     }
     25%{
         color: gradient( linear, 100% 0%, 0% 0%, from( rgb(0, 255, 85)), color-stop( 0.5, #8e9198), to(  rgb(0, 183, 255)));
     }
     50%{
         color: gradient( linear, 100% 0%, 0% 0%, from( #8e9198), color-stop( 0.5,  rgb(0, 183, 255)), to( rgb(0, 255, 85)));
     }
     75%{
         color: gradient( linear, 100% 0%, 0% 0%, from( rgb(0, 255, 85)), color-stop( 0.5, #8e9198), to(  rgb(0, 183, 255)));
     }
     100%{
         color: gradient( linear, 100% 0%, 0% 0%, from(  rgb(0, 183, 255)), color-stop( 0.5, rgb(0, 255, 85)), to( #8e9198 ));
     }
}