.SkillsPlayerMain
{
    height: 36px;
    margin-top: 50px;
    margin-left: 15%;
    horizontal-align: left;
}

#SkillsPlayer
{
    flow-children: right;
    height: 100%;
    horizontal-align: right;
    margin-right: 93px;
}

.SkillPanel1
{
    width: 32px;
    height: 32px;
    margin-right: 4px;
    margin-left: 5px;
    border: 1px solid #BEBEBE;
    vertical-align: center;
    border-radius: 100%;
}

.SkillPanel2
{
    width: 32px;
    height: 32px;
    margin-right: 4px;
    margin-left: 4px;
    border: 1px solid #92E47E;
    vertical-align: center;
    border-radius: 100%;
}

.SkillPanel3
{
    width: 32px;
    height: 32px;
    margin-right: 4px;
    margin-left: 4px;
    border: 1px solid #7F93FC;
    vertical-align: center;
    border-radius: 100%;
}

.SkillPanel4
{
    width: 32px;
    height: 32px;
    margin-right: 4px;
    margin-left: 4px;
    border: 1px solid #D57BFF;
    border-radius: 100%;
}

.SkillPanel5
{
    width: 32px;
    height: 32px;
    margin-right: 4px;
    margin-left: 4px;
    border: 1px solid #FFE195;
    vertical-align: center;
    border-radius: 100%;
}