.code_panel
{
     align: center center;
     width: 600px;
     height: 250px;
     background-color: rgba(0,0,0,0.99);
     flow-children: down;
     visibility: collapse;
}

.code_entry
{
     horizontal-align: center;
     margin-top: 50px;
}

.PanelsButton
{
     flow-children: right;
     horizontal-align: center;
     margin-top: 10px;
}

.ButtonCode
{
     width: 150px;
     height: 50px;
     background-color: gradient( linear, 0% 0%, 0% 100%, from( #4c5561 ), to( #6c7d88 ) );
     margin: 50px;
     border: 1px solid white;
}

.ButtonText
{
     color: white;
     align: center center;
}