.DamageBlockWithButton
{
	align: right top;
	margin-top: 40px;
	flow-children: right;
	transition-property: transform, opacity, position;
  	transition-duration: 0.5s;
  	transition-timing-function: ease-out;
}

.ButtonCloseDamage
{
	height: 35px;
    width: 235px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #373d45 ), to( #4d5860 ) );
	border: 1px solid black;
    flow-children: right;
    transform: rotateZ(-90deg) translateX(101px);
    margin-top: 93px;
}

.ImageArrow
{
    width: 100%;
    height: 100%;
}

.ImgRotate
{
    width: 15px;
    height: 27px;
    margin-right: 20px;
    vertical-align: center;
}

.AlignCne
{
    flow-children: right;
    align: center center;
}

.LabelButton
{
    font-size: 16px;
    vertical-align: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.damage_close .ImageArrow
{
    background-image: url("s2r://panorama/images/control_icons/arrow_min_right_psd.vtex");
    background-size: 100%;
    background-repeat: no-repeat;
    transform: rotateZ(-90deg);
}

.damage_open .ImageArrow
{
    background-image: url("s2r://panorama/images/control_icons/arrow_min_left_psd.vtex");
    background-size: 100%;
    transform: rotateZ(-90deg);
}

.AspectRatio4x3 .damage_close
{
   transform: translateX(28%); 
}

.AspectRatio16x10 .damage_close
{
   transform: translateX(22.2%); 
}

.damage_close
{
	transform: translateX(21%);
}
.damage_open
{
	transform: translateX(0px);
}

.DamageRoundHistory
{
	width: 400px;
	height: 496px;
	flow-children: down;
  	background-color: #000000d0;
}

.DamageRoundHistoryHead
{
	width: 100%;
    margin-top: 10px;
	flow-children: down;
}

.DamageRoundHistoryHeadLabel
{
	align: center center;
	color: white;
    text-align: center;
	font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
}

#DamageAbilities
{
	width: 100%;
	height: 446px;
	overflow: squish scroll;
	flow-children: down;
}

#DamageAbilitiesIncome
{
    width: 100%;
    height: 446px;
    overflow: squish scroll;
    flow-children: down;
    visibility: collapse;
}

#BattlePassTier2Only
{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 26px;
    font-weight: bold;
}

#BattlePassTier2Only_panel
{
    horizontal-align: center;
    width: 200px;
    height: 250px;
    background-image: url("file://{images}/custom_game/bp_book2.png");
    background-size: 100%;
    margin-top: 50px;
}

.MenuButtons
{
    width: 100%;
    height: 40px;
    flow-children: right;
}

.MenuButton
{
    width: 50%;
    height: 100%;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #516E77 ), to( #374C4F) );
    border: 1px solid black;
}

.MenuButtonLabel
{
    color: white;
    font-weight: bold;
    align: center center;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
}

.button_select
{
    border: 2px solid white;
}

@keyframes 'button_select_anim'
{
     0%{
         text-shadow: 0px 0px 10px 1.5 #3382ff;
     }
     50%{
         text-shadow: 0px 0px 1px 0 #3382ff;
     }
     100%{
          text-shadow: 0px 0px 10px 1.5 #3382ff;
     }
}




.UnitDamagePanel {
    width: 100%;
    horizontal-align: center;
    height: 50px;
    margin-left: 10px;
    flow-children: right;
    margin-top: 5px;
    margin-bottom: 5px;
    tooltip-position: bottom;
    transition-property: transform, position;
    transition-duration: 0.25s;
}

.UnitDamageInfoPanel {
    width: 95%;
    height: 100%;
}

#DamageLineBG {
    width: 95%;
    vertical-align: center;
}

#DamageLineBG2 {
    horizontal-align: left;
    width: 100%;
    margin-left: 5px;
    transition-property: width;
    transition-duration: 0.1s;
}

.DamageLineStart {
    width: 15px;
    height: 15px;
    vertical-align: center;
    border-radius: 50px;
}

#DamageLine {
    margin-left: 15px;
    width: 100%;
    height: 5px;
    vertical-align: center;
    horizontal-align: left;
}

#DamageUnitLabel {
    font-weight: bold;
    font-size: 16px;
    color: white;
    align: left top; 
    z-index: 10;
    margin-left: 6px;
    text-shadow: 0px 0px 2px #000000;
}

#UnitPortrait {
    width: 30px;
    height: 30px;
    background-color: gray;
    vertical-align: center;
}