.DamageBlockWithButton {
    align: right top;
    margin-top: 4%;
    flow-children: right;
    transition-property: transform, opacity, position;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.ButtonCloseDamage {
    height: 29px;
    width: 25px;
    background-color: gradient(linear, 100% 0%, 0% 0%, from(rgba(43, 63, 33, 0.65)), to(rgba(30, 39, 20, 0.65)));
    border-left: 1.1px solid #c0ff73b2;
    border-top: 1.1px solid #c0ff73b2;
    border-bottom: 1.1px solid #c0ff73b2;
    margin-right: -1px;
    flow-children: right;
    vertical-align: top;
}

.ImageArrow {
    width: 12px;
    height: 12px;
    align: center center;
}

.ImgRotate {
    width: 15px;
    height: 27px;
    margin-right: 20px;
    vertical-align: center;
}

.AlignCne {
    flow-children: right;
    align: center center;
}

.LabelButton {
    font-size: 16px;
    vertical-align: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.damage_close .ImageArrow {
    background-image: url("file://{images}/custom_game/buttons/swap_left.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.damage_open .ImageArrow {
    background-image: url("file://{images}/custom_game/buttons/swap_right.png");
    background-size: 100%;
}


.DamageRoundHistory {
    width: 293px;
    height: 350px;
    flow-children: down;
    background-image: url("file://{images}/custom_game/buttons/pisun2.png");
    background-size: 100%;
    transition-property: width;
    transition-duration: 0.2s;
}

.damage_close .DamageRoundHistory {
    width: 0px;
}

.DamageRoundHistoryHead {
    width: 100%;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.25);
    flow-children: down;
}

.DamageRoundHistoryHeadLabel {
    align: left center;
    color: white;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    color: #93E29C;
    margin-left: 20px;
}

#DamageAbilities {
    width: 100%;
    height: 285px;
    overflow: squish scroll;
    flow-children: down;
}

#DamageAbilitiesIncome {
    width: 100%;
    height: 285px;
    overflow: squish scroll;
    flow-children: down;
    visibility: collapse;
}

#BattlePassTier2Only {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 26px;
    font-weight: bold;
}

#BattlePassTier2Only_panel {
    horizontal-align: center;
    width: 200px;
    height: 250px;
    background-image: url("file://{images}/custom_game/bp_book2.png");
    background-size: 100%;
    margin-top: 50px;
}

.MenuButtons {
    width: 100%;
    height: 40px;
    flow-children: right;
}

.MenuButton {
    width: 50%;
    height: 100%;
}

.MenuButtonLabel {
    color: white;
    font-weight: bold;
    align: center center;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.25);
}

.button_select .MenuButtonLabel {
    color: white;
}

@keyframes 'button_select_anim'

    {
    0% {
        text-shadow: 0px 0px 10px 1.5 #3382ff;
    }

    50% {
        text-shadow: 0px 0px 1px 0 #3382ff;
    }

    100% {
        text-shadow: 0px 0px 10px 1.5 #3382ff;
    }
}

.UnitDamagePanel {
    width: 100%;
    horizontal-align: center;
    height: 30px;
    margin-left: 10px;
    flow-children: right;
    margin-bottom: 5px;
    tooltip-position: bottom;
    transition-property: transform, position;
    transition-duration: 0.25s;
}

.UnitDamageInfoPanel {
    width: 95%;
    height: 100%;
}

#DamageLineBG {
    width: 95%;
    vertical-align: bottom;
    margin-bottom: 6px;
}

#DamageLineBG2 {
    horizontal-align: left;
    width: 100%;
    margin-left: 5px;
    transition-property: width;
    transition-duration: 0.1s;
}

.DamageLineStart {
    width: 6px;
    height: 6px;
    vertical-align: center;
}

#DamageLine {
    width: 100%;
    height: 2px;
    vertical-align: center;
    horizontal-align: left;
}

#DamageUnitLabel {
    font-weight: bold;
    font-size: 14px;
    font-family: 'Radiance';
    font-weight: semi-bold;
    color: white;
    align: left top;
    z-index: 10;
    margin-left: 5px;
    text-shadow: 0px 0px 2px #000000;
}

#UnitPortrait {
    width: 30px;
    height: 30px;
    background-color: gray;
    vertical-align: center;
}

#DamageLineEnd {
    height: 6px;
    width: 2px;
    background-color: white;
    horizontal-align: right;
}

.name_button {
    vertical-align: top;
    margin-top: 2px;
    margin-right: 5px;
}

.damage_open .name_button {
    opacity: 0;
}