
 #DraggableDelimiter{
  height: 60px;
  width: 4px;
  background-color: #00ff00;
 }







 .Dragging .Cover{
  visibility: collapse;
 }

 #drag_desc_container{
  z-index: -100;
 }

 .drag_desc_text{
  font-size: 16px;
  align: center center;
  color: white;
  text-overflow: shrink;
  text-shadow: 0px 0px 6px 6 #000000;
  animation-name: color_shift;
  animation-duration: 2s;
  animation-iteration-count: infinite;
 }

 .AspectRatio4x3 .drag_desc_text{
  margin-bottom: 10px;
 }

 @keyframes 'color_shift'{
  0%{
   color: white;
  }
  50%{
   color: #00ff00;
  }
  100%{
   color: white;
  }
}