@define BACKGROUND_COLOR: black;
@define BACKGROUND_COLOR_WHITE: #FFFFFF28;

#RevengeTargetFrame {
    height: 100%;
    width: 100%;
    opacity: 1;
    opacity-mask: url("s2r://panorama/images/masks/softedge_box_sharper_png.vtex");
    transform: translateY(0px);
}

.FlyoutScoreboardRoot {

    horizontal-align: left;
    vertical-align: top;
    margin-top: 70px;

    flow-children: down;
    padding: 0px;
    opacity: 0;
    background-image: url("file://{images}/custom_game/fly_hud/bg.png");
    background-size: 100%;
    background-color: #000000da;
    box-shadow: #000000f5 0px 0px 8px 2px;
    transform: translatex(-500px);
    transition-property: transform, opacity;
    transition-duration: 0.3s;
}

.FlyoutScoreboardRoot.flyout_scoreboard_visible {

    transform: translatey(0px);
    opacity: 1;
}

#TeamsContainer {

    flow-children: down;

}

.rainbow_nickname {
    color: gradient(linear, 100% 0%, 0% 0%, from(rgb(0, 183, 255)), color-stop(0.5, rgb(0, 255, 85)), to(rgb(255, 196, 0)));
}

.rainbow_nickname_animate {
    animation-name: Colorgradient;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    font-weight: bold;
    text-shadow: 0px 0px 8px 0 gold;
}

@keyframes 'Colorgradient' {
    0% {
        color: gradient(linear, 100% 0%, 0% 0%, from(#fedd45, color-stop(0.5, #fff700), to(#eebb0a));
                text-shadow: 0px 0px 8px 0 gold;
        }

        25% {
            color: gradient(linear, 100% 0%, 0% 0%, from(#fff700), color-stop(0.5, #eebb0a), to(#fedd45));
            text-shadow: 0px 0px 8px 1 gold;
        }

        50% {
            color: gradient(linear, 100% 0%, 0% 0%, from(#eebb0a), color-stop(0.5, #fedd45), to(#fff700));
            text-shadow: 0px 0px 8px 2 gold;
        }

        75% {
            color: gradient(linear, 100% 0%, 0% 0%, from(#fff700), color-stop(0.5, #eebb0a), to(#fedd45));
            text-shadow: 0px 0px 8px 1 gold;
        }

        100% {
            color: gradient(linear, 100% 0%, 0% 0%, from(#fedd45), color-stop(0.5, #fff700), to(#eebb0a));
            text-shadow: 0px 0px 8px 0 gold;
        }
    }


    .Legend {

        width: 100%;
        background-color: BACKGROUND_COLOR;
        margin-top: 1px;
        margin-bottom: -1px;
    }

    #RadiantHeader {

        border-bottom: 1px solid #4a9820;
    }

    #DireHeader {

        border-bottom: 1px solid #a52500;
    }

    .LegendPanel .TeamLabel {

        margin-top: 3px;
        margin-left: 4px;
        letter-spacing: 3px;
        font-size: 18px;
        text-transform: uppercase;
    }

    #RadiantLabel {

        color: #4a9820;
    }

    #DireLabel {

        color: #a52500;
    }


    .FlyoutTeam {

        margin-top: 5px;
    }

    #_dynamic_team_2 {
        margin-top: 0px;
    }

    .FlyoutTeam.no_players {

        visibility: collapse;
    }

    .local_player_team.FlyoutTeam {

        z-index: 99;
    }

    .FlyoutTeamData {

        flow-children: right;
    }

    .TeamInfo {

        margin-top: 1px;
        height: 100%;
    }

    #TeamColor_GradentFromTransparentLeft {

        width: 100%;
        height: 100%;
    }

    #TeamColorOverlay {

        background-color: gradient(linear, 80% 0%, 100% 0%, from(#00000000), to(#000000FF));
        width: 100%;
        height: 100%;
    }

    .FlyoutPlayer {

        flow-children: right;
    }





    #PlayersContainer {

        flow-children: down;
    }

    .local_player_team #PlayersContainer {}

    .TeamId {

        flow-children: right;
    }

    #TeamLogo {

        vertical-align: top;
        horizontal-align: center;
        height: 30px;
        width: 30px;
    }

    #TeamScore {

        align: center center;
        text-align: center;
        font-size: 20px;
        color: #F3C670;
        text-shadow: 2px 2px 2px black;
        font-family: Roboto;
        font-weight: semi-bold;
    }

    #TeamScorePanel {
        width: 90px;
        margin-top: 1px;
        margin-left: 282px;
        height: 100%;
        background-image: url("file://{images}/custom_game/fly_hud/networs.png");
        background-size: 100%;
    }

    .FFA #TeamScorePanel {
        visibility: collapse;
    }

    .Legend {

        flow-children: right;
    }

    .Legend Label {

        vertical-align: bottom;
        text-shadow: 2px 2px 2px black;
        text-transform: uppercase;
        font-size: 12px;
        color: white;
    }

    .PlayerRow {

        height: 36px;
    }

    #PlayerRowContainer {

        flow-children: right;
        height: 36px;
    }

    #HeroIcon {

        vertical-align: center;
    }

    #PlayerRank {
        background-image: url("file://{images}/custom_game/ranks/rank0.png");
        background-size: 100%;
        align: center center;
        width: 35px;
        height: 35px;
    }

    .rank_number {
        font-size: 12px;
        text-align: center;
        text-shadow: 0px 0px 3px 3.0 black;
        background-color: rgba(0, 0, 0, 0.2);
        horizontal-align: center;
        margin-top: 20px;
        color: white;
        width: 30px;
        font-weight: bold;
    }

    #LevelContainer,
    #KillsContainer,
    #DeathsContainer,
    #AssistsContainer,
    #DamageContainer {





        height: 100%;
    }

    .ScoreboardPanel {

        background-color: BACKGROUND_COLOR;
        margin-top: 0px;
        margin-left: 1px;
    }

    .LegendPanel {

        margin-top: 1px;
        margin-left: 1px;
    }

    .is_local_player .ScoreboardPanel {}

    .ScoreboardPanel Label {

        font-size: 30px;
        text-shadow: 2px 2px 2px black;
    }

    .UltimateIndicatorShared {

        margin-left: 52px;
        margin-top: 2px;
        vertical-align: center;
        width: 20px;
        height: 20px;
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    #Level {

        vertical-align: center;
        horizontal-align: center;
        color: #898b8c;
    }

    #Kills,
    #Deaths,
    #Assists {
        vertical-align: center;
        font-size: 16px;
        text-align: center;
        width: 100%;
        font-family: Roboto;
        font-weight: bold;
        color: white;
    }

    #PlayerName {

        font-size: 14px;
        margin-bottom: -4px;
        margin-top: 0px;
        white-space: nowrap;
        font-weight: bold;
        font-family: Roboto;
    }

    #HeroNameAndDescription {

        vertical-align: center;
        color: #5C5E60;
        font-size: 13px;
        margin-top: 2px;
        text-shadow: 2px 2px 2px black;
        font-family: Roboto;
    }

    .is_local_player #HeroNameAndDescription {

        color: #5C5E60;
    }

    .ToggleContainer {
        height: 100%;
        width: 54px;
        flow-children: right;
    }

    #MuteButton {
        width: 17px;
        height: 17px;
        align: right top;
        margin-right: 5px;
        margin-top: 2px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-image: url("s2r://panorama/images/custom_game/button_audio_on_psd.vtex");
        opacity: 0.8;
    }

    #MuteButton:hover {

        opacity: 1;
    }

    .player_muted #MuteButton {

        background-image: url("s2r://panorama/images/custom_game/button_audio_off_psd.vtex");
    }

    #TeammateGoldAmount {

        margin-right: -1px;
        margin-bottom: -2px;
        vertical-align: bottom;
        horizontal-align: right;
        color: #ffd300;
        font-size: 13px;
        text-shadow: 2px 2px 2px black;
        visibility: collapse;
    }

    .local_player_team #TeammateGoldAmount {

        visibility: visible;
    }

    #PlayerDetailsContainer {
        margin-left: 6px;
        height: 100%;
    }

    #PlayerAndHeroName {

        vertical-align: center;
        flow-children: down;
        padding-left: 6px;
    }

    .is_local_player #Kills,
    .is_local_player #Deaths,
    .is_local_player #Assists,
    .is_local_player #Level,
    .is_local_player #HeroName {





        color: white;
    }

    .is_local_player #MuteButton,
    .is_local_player #DisableHelpButton {

        opacity: 0;
    }

    .ScoreCol_TeamInfoAndHero {

        width: 225px;
    }

    .ScoreCol_TeamInfo {

        width: 32px;
    }

    .ScoreCol_PlayerDetails {

        width: 170px;
    }

    .ScoreCol_Hero {

        width: 60px;
    }

    .ScoreCol_Rank {

        width: 35px;
        margin-left: 5px;
    }

    .ScoreCol_TeamScore {

        width: 99px;
        text-align: center;
        flow-children: right;
    }

    .FFA .ScoreCol_TeamScore {
        visibility: collapse;
    }

    .ScoreCol_Kills,
    .ScoreCol_Deaths,
    .ScoreCol_Assists {



        width: 40px;
        text-align: center;
    }

    .ScoreCol_Kills {

        margin-left: 2px;
    }

    .ScoreCol_Deaths {
        margin-left: 6px;
    }

    .ScoreCol_Assists {
        margin-left: 6px;
    }

    #DisableHelpButton {

        margin-top: 0px;
        horizontal-align: center;
        vertical-align: center;
        visibility: collapse;
    }

    .local_player_teammate #DisableHelpButton {

        visibility: visible;
    }

    #DisableHelpButton .TickBox {

        width: 20px;
        height:20px;
    }

    #IsLeave {

        width: 36px;
        height: 7px;
        margin-top: 6px;
        margin-left: 9px;
        background-image: url("s2r://");
        visibility: collapse;
    }

    #GoldIcon {

        width: 26px;
        height: 26px;
        vertical-align: bottom;
        background-image: url("s2r://panorama/images/hud/reborn/gold_small_psd.vtex");
        background-size: 100% 100%;
    }





    .ScoreboardFooter {
        width: 532px;
        flow-children:right;
        margin-top: 20px;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .FFA .ScoreboardFooter {
        width: 431px;
    }

    .FooterToggle {
        vertical-align: center;
        margin-right: 10px;
    }

    .MuteAllLabel {
        color: white;
        font-family: Roboto;
        font-weight: bold;
        font-size: 13px;
        vertical-align: center;
        margin-left: 5px;
    }

    #MuteAllButton {
        align: right center;
        width: 20px;
        height: 20px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-image: url("s2r://panorama/images/custom_game/button_audio_on_psd.vtex");
        opacity: 0.8;
    }

    #PlayerItemsContainer {
        flow-children: right;
        visibility: collapse;
        margin-left: 6px;
        opacity: 0;
        transition-property: opacity;
        transition-duration: 0.2s;
        background-color: black;
        margin-right: 3px;
    }

    .items_toggled #PlayerItemsContainer {

        opacity: 1;
        visibility: visible;
    }

    .PlayerItem {
        width: 33px;
        height: 33px;
        border: 1px solid #717879;
        vertical-align: center;
        margin: 1px;
    }

    DOTAItemImage {
        background-size: 100%;
    }

    #_dynamic_item_6, #_dynamic_item_7, #_dynamic_item_8 {
        visibility: collapse;
    }

    .NeutralItem {
        border-radius: 20px;
        width: 28px;
        height: 28px;
        background-image: url("s2r://panorama/images/items/emptyitembg_png.vtex");
    }

    .empty_item {
        background-image: url("s2r://panorama/images/items/emptyitembg_png.vtex");
    }

    #AbilitiesContainer {
        flow-children: right;
        visibility: collapse;
        opacity: 0;
        transition-property: opacity;
        transition-duration: 0.2s;
        background-color: black;
        height: 100%;
        margin-right: 3px;
        margin-left: 3px;
    }

    .abilities_toggled #AbilitiesContainer {
        visibility: visible;
        opacity: 1;
    }

    .PlayerAbility {
        height: 33px;
        vertical-align: center;
        border: 1px solid #717879;
        margin: 1px;
    }

    .empty_ability {
        visibility: collapse;
    }

    .ScoreboardHeader {
        height: 30px;
        width: 100%;
        flow-children: right;
    }

    .ScoreboardHeaderLabel {
        vertical-align: center;
        text-align: center;
        font-weight: bold;
        color: white;
        font-size: 15px;
        text-transform: uppercase;
        text-overflow: clip;
    }

    #HeaderPlayer {
        width: 237px;
        margin-left: 40px;
    }

    #HeaderScore {
        margin-left: 5px;
        width: 90px;
    }

    .FFA #HeaderScore {
        visibility: collapse;
    }

    #HeaderKills, #HeaderDeaths, #HeaderAssists {
        width: 40px;
        margin-left: 6px;
    }

    #HeaderItems {
        width: 265px;
        margin-left: 6px;
        visibility: collapse;
        background-color: red;
    }

    .items_toggled #HeaderItems {
        visibility: collapse;
    }

    #HeaderAbilities {
        horizontal-align:center;
        visibility: collapse;
    }

    .abilities_toggled #HeaderAbilities {
        visibility: collapse;
    }



    .player_dead #HeroIcon {

        wash-color: #CCCCCC;
        saturation: 0;
    }

    .player_connection_abandoned #HeroIcon {

        wash-color: #FF0000;
        saturation: 0;
    }

    #HeaderDamage {
        width: 200px;
    }

    .ScoreCol_Damage {
        width: 200px;
    }


    #DamageProgressBar {

        width: 100%;
        height: 100%;
        border-radius: 0px;
        border-width: 0px;
        box-shadow: none;
        background-color: transparent;
        padding-left: 10px;
        padding-right: 4px;
    }


    #DamageProgressBar_Left {
        vertical-align: center;
        max-height: 8px;
        flow-children: right;
        background-color: #F5D784;
    }

    #DamageProgressBar_Right {
        vertical-align: center;
        margin-left: -10px;
        margin-top: 2px;
        min-width: 12px;
        min-height: 12px;
        max-width: 12px;
        max-height: 12px;
        background-image: url("s2r://panorama/images/custom_game/progress_bar_indicator_png.vtex");
        background-size: 100%;
    }


    #DamageValue {
        vertical-align: center;
        font-size: 25px;
        color: white;
        font-weight: bold;
        margin-left: 30px;
        text-shadow: -1px 1px 4px 2 #000000;
    }


    .Party_1 {
        wash-color: #01df3a;
    }

    .Party_2 {
        wash-color: #d7df01;
    }

    .Party_3 {
        wash-color: #df0101;
    }

    .Party_4 {
        wash-color: #2e2efe;
    }

    .Party_5 {
        wash-color: #58d3f7;
    }

    .Party_6 {
        wash-color: #ff8000;
    }

    .Party_7 {
        wash-color: #00ffff;
    }

    .Party_8 {
        wash-color: #04b404;
    }

    .Party_9 {
        wash-color: #bf00ff;
    }

    .Party_10 {
        wash-color: #088a68;
    }

    .Party_11 {
        wash-color: #86b404;
    }

    .Party_12 {
        wash-color: #82fa58;
    }

    .NoParty {
        wash-color: white;
    }

    .PartyIcon {
        background-image: url("s2r://panorama/images/control_icons/ghostfriend_inactive_psd.vtex");
        background-size: 100%;
        height: 14px;
        width: 20px;
        align: right bottom;
        margin-right: 4px;
        margin-bottom: 4px;
    }

    .chat_whell_button_mute{
        align: right center;
        width: 20px;
        height: 20px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
      background-image: url("s2r://panorama/images/custom_game/button_audio_on_psd.vtex");
        opacity: 0.8;
       }

       .MuteSounds
       {
        flow-children: right;
        margin-left: 20px;
       }

    .muted_chat_wheel 
    {
        background-image: url("s2r://panorama/images/custom_game/button_audio_off_psd.vtex");
    }