.QuestFront {
	align: right bottom;
	margin-bottom: 20.9%;
	flow-children: right;
	transition-property: transform, opacity, position;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
}

.QuestFrontButton {
	height: 39px;
	width: 25px;
	background-color: gradient(linear, 100% 0%, 0% 0%, from(rgba(43, 63, 33, 0.65)), to(rgba(30, 39, 20, 0.65)));
	border-left: 1.1px solid #c0ff73b2;
	border-top: 1.1px solid #c0ff73b2;
	border-bottom: 1.1px solid #c0ff73b2;
	margin-right: -1px;
	flow-children: right;
	vertical-align: bottom;
}

.ImageArrow {
	width: 12px;
	height: 12px;
	align: center center;
}

.ImgRotate {
	width: 100%;
	height: 100%;
	background-color: red;
	vertical-align: center;
}

.AlignCne {
	flow-children: right;
	align: center center;
}

.QuestFrontButtonText {
	font-size: 16px;
	vertical-align: center;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
}

.QuestFrontList {
	align: center center;
	width: 293px;
	height: 270px;
	flow-children: down;
	transition-property: width;
	transition-duration: 0.2s;
}

.damage_close .QuestFrontList {
	width: 0px;
}

.damage_close .ImageArrow {
	background-image: url("file://{images}/custom_game/buttons/swap_left.png");
	background-size: 100%;
	background-repeat: no-repeat;
}

.damage_open .ImageArrow {
	background-image: url("file://{images}/custom_game/buttons/swap_right.png");
	background-size: 100%;
}

.QuestBlock {
	flow-children: down;
	margin-left: 7px;
	vertical-align: center;
}

.DayQuest {
	horizontal-align: center;
	flow-children: right;
	margin-top: 6px;
	margin-bottom: 6px;
}

.QuestIconAndName {
	margin-left: 3px;
	flow-children: right;
	width: 260px;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.45);
}

.QuestIcon {
	height: 48px;
	width: 48px;
	vertical-align: center;
	background-image: url("file://{images}/custom_game/placeholder_quest.png");
	background-size: 100%;
}

.QuestInfo {
	flow-children: down;
	vertical-align: center;
}

.QuestName {
	width: 190px;
	color: white;
	font-size: 14px;
	margin-left: 5px;
	vertical-align: center;
}

.QuestProgress {
	margin-left: 3px;
	height: 20px;
	width: 100%;
	margin-top: 5px;
	border-radius: 2px;
}

.QuestProgressBackground {
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 2px;
	width: 100%;
	height: 100%;
}

.QuestProgressLine {
	border-radius: 2px;
	background-color: #92B169;
	width: 0%;
	height: 100%;
	transition-property: width;
	transition-duration: 0.25s;
}

.QuestProgressLabel {
	color: white;
	align: center center;
	font-size: 14px;
	text-shadow: 0px 0px 2px 2 black;
}

.QuestSucces {
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 15px;
	height: 40px;
	width: 40px;
	margin-left: 10px;
	vertical-align: center;
}

.QuestTierInfo1 {
	border-left: 2px solid #D1D1D1;
}

.QuestTierInfo2 {
	border-left: 2px solid #C2FF75;
}

.QuestTierInfo3 {
	border-left: 2px solid #7BA0FF;
}

.QuestTierInfo_label1 {
	align: center center;
	color: #BEBEBE;
	font-family: Reaver;
	font-size: 14px;
	margin-top: 5px;
}

.QuestTierInfo_label2 {
	align: center center;
	color: #92E47E;
	font-family: Reaver;
	font-size: 14px;
}

.QuestTierInfo_label3 {
	align: center center;
	color: #7F93FC;
	font-family: Reaver;
	font-size: 14px;
}

.ProgreessAndRefresh {
	flow-children: down;
}

.QuestSuccesIcon {
	width: 60px;
	height: 34px;
	margin-bottom: 3px;
	background-image: url("file://{images}/custom_game/quest_suc.png");
	background-size: 100%;
	margin-left: 6px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.QuestSuccesWait {
	background-image: url("file://{images}/custom_game/quest_wait.png");
	background-size: 100%;
}

.update_quest_button {
	height: 14px;
	width: 60px;
	margin-left: 6px;
	background-color: gradient(radial, 50% 0%, 0% 0%, 70% 100%, from(#7DB437), to(#44611F)));
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.update_quest_button:hover {
	brightness: 1.2;
}

.update_quest_button_label {
	align: center center;
	color: white;
	font-family: 'Radiance';
	font-weight: semi-bold;
	font-size: 12px;
}

.QuestFull {
	flow-children: down;
	background-image: url("file://{images}/custom_game/buttons/pisun.png");
	background-size: 100%;
}

.QuestHeader {
	width: 290px;
	horizontal-align: center;
	height: 24px;
	margin-top: 1px;
	background-color: rgba(0, 0, 0, 0.4);
	transition-property: width;
	transition-duration: 0.2s;
}

.damage_close .QuestHeader {
	width: 0px;
}

.QuestHeaderLabel {
	font-family: 'Radiance';
	font-weight: semi-bold;
	font-size: 14px;
	color: white;
	margin-left: 17px;
	vertical-align: center;
}

.name_button {
	vertical-align: bottom;
	margin-right: 5px;
	margin-bottom: 10px;
}

.damage_open .name_button {
	opacity: 0;
}