.Hidden {
	opacity: 0.0;
}

.HUDFlipped #BetMain {
	horizontal-align: right;
}

.BetMain {
	margin-top: 200px;
	flow-children: down;
	transition-property: opacity;
	transition-duration: 0.2s;
	padding-bottom: 8px;
	padding-top: 5px;
	padding-left: 5px;
}

.BetMain2x6 {
	z-index: 10;
	margin-top: 50px;
	flow-children: down;
	transition-property: opacity;
	transition-duration: 0.2s;
	padding-bottom: 8px;
	padding-top: 5px;
	padding-left: 5px;
}

.TeamPanel {
	flow-children: right;
	margin-top: 8px;
	//background-color: #222621;
    background-color: rgba(0,0,0,0.9);
	border: 1px solid white;
	border-brush: gradient(linear, 0% 100%, 0% 0%, from(rgba(184, 255, 129, 1)), to(rgba(184, 255, 129, 0)));
}

#SecondTeam {
	border-brush: gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 129, 129)), to(rgba(255, 129, 129, 0)));
}

.TeamPanelLeft {
	flow-children: down;
}

.PlayerPanel {
	flow-children: right;
}

.PvpPlayerShowPanel {
	flow-children: down;
	background-color: gradient(linear, -70% -10%, 100% 0%, from(rgba(60, 147, 52, 0.164)), to(rgba(60, 147, 52, 0)));
}

#SecondTeam .PvpPlayerShowPanel {
	flow-children: down;
	background-color: gradient(linear, -70% -10%, 100% 0%, from(rgba(147, 52, 52, 0.164)), to(rgba(147, 52, 52, 0)));
}

.TeamLogoIcon {
	wash-color: black;
}

.TeamLogo {
	height: 20px;
	width: 20px;
	background-color: rgba(0, 0, 0, 0.90);
	z-index: 10;
	transform: translateY(-2px);
}

.CooldownTimerItem {

	color: white;
	font-size: 12px;
	text-shadow: 0px 0px 6px 6 #000000;
	width: 100%;
	text-align: center;
	vertical-align: center;
	text-overflow: shrink;
}


.CooldownItem {
	align: center center;
	width: 100%;
	height: 100%;
}


.CooldownOverlayItem {
	background-color: #000000dc;
	width: 100%;
	height: 100%;
	brightness: 1.2;
}

.TeamLogo Image {
	height: 50px;
	width: 50px;
}

.HeroInfo {
	flow-children: right;
	height: 50px;
	width: 100%;
}

.HeroIcon {

	height: 60px;
	width: 105px;
	margin-left: 5px;
}

.HeroIconInBet {
	height: 30px;
	width: 50px;
	margin-right: 4px;
	vertical-align: center;
}

.PlayerName {
	color: #ffffff;
	font-family: defaultFont;
	font-size: 18px;
	text-shadow: -1px 2px 6px 2 #000000;
	max-width: 150px;
	height: 24px;
	margin-top: 15px;
	margin-left: 5px;
}

.HeroName {
	font-size: 16px;
	font-family: 'Radiance';
	color: #FFFFFF;
	vertical-align: center;
}

.LogoAndHeroPanel {
	flow-children: left;
	margin-left: 5px;
	margin-bottom: 5px;
}

.AbilityPanel {
	margin-top: 5px;
	margin-left: 5px;
	flow-children: right-wrap;
	width: 284px;
	margin-bottom: 5px;
}

.SkillPanelBlock {
	width: 284px;
	margin-top: 1px;
	margin-left: 8px;
	margin-bottom: 5px;
	flow-children: right-wrap;
}

.SkillPanel1 {
	width: 32px;
	height: 32px;
	margin-right: 10px;
	border: 1px solid #BEBEBE;
	vertical-align: center;
	border-radius: 100%;
}

.SkillPanel2 {
	width: 32px;
	height: 32px;
	margin-right: 10px;
	border: 1px solid #92E47E;
	vertical-align: center;
	border-radius: 100%;
}

.SkillPanel3 {
	width: 32px;
	height: 32px;
	margin-right: 10px;
	border: 1px solid #7F93FC;
	vertical-align: center;
	border-radius: 100%;
}

.SkillPanel4 {
	width: 32px;
	height: 32px;
	margin-right: 10px;
	border: 1px solid #D57BFF;
	border-radius: 100%;
}

.SkillPanel5 {
	width: 32px;
	height: 32px;
	margin-right: 10px;
	border: 1px solid #FFE195;
	vertical-align: center;
	border-radius: 100%;
}

.AbilityItem {
	width: 39px;
	height: 39px;
	margin-right: 5px;
}

.ItemPanel {
	flow-children: right;
	width: 343px;
	height: 36px;
	margin-left: 5px;
	margin-bottom: 6px;
}

.hidden_ab_spawn {
	width: 39px;
	height: 39px;
	margin-right: 5px;
	background-image: url("file://{images}/custom_game/buttons/logo_ab.png");
	background-size: 39px 39px;
	background-position: 0px;
	margin-bottom: 6px;
}

.ItemPanel DOTAItemImage {
	width: 39px;
	height: 28px;
	vertical-align: center;
	margin-right: 5px;
	background-image: url("file://{images}/custom_game/buttons/logo_ab.png");
	background-size: 39px 39px;
	background-position: 0px;
	border: 1px solid #757575;
	box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.5);
}

#panel_info_322
{
    align: center center;
    flow-children: right;
}

#image_ban
{
    width: 16px;
    height: 16px;
    background-image: url("s2r://panorama/images/status_icons/information_psd.vtex");
	background-size: 100%;
    vertical-align: center;
    margin-left: 5px;
}

#VsLogo 
{
	width: 100%;
	height: 30px;
	visibility: visible;
	horizontal-align: center;
	margin-top: 10px;
    background-color: rgba(0,0,0,0.9);
    flow-children: right;
}

#label_ban
{
    align: center center;
    font-weight: semi-bold;
    color: rgb(209, 1, 1);
    font-size: 18px;
}


.BetPanel {
	height: 100%;
	width: 300px;
	flow-children: down;
	//background-color: gradient(linear, 140% 0%, 0% 0%, from(rgba(255, 217, 16, 0.09)), to(rgba(255, 217, 16, 0)));
}

.BetPanelHide {
	width: 0px;
	opacity: 0.0;
}


.BetTextEntry {
	width: 252px;
	height: 43px;
	background-color: gradient(linear, 0% 0%, 160% 0%, from(rgba(0, 0, 0, 0.95)), to(rgba(0, 0, 0, 0.5)));
	border-radius: 2px;
	color: white;
	text-overflow: shrink;
	font-size: 24px;
	margin-left: 3px;
	padding: 7px;
	padding-left: 35px;
	color: #EBBD18;
	font-family: 'Radiance';
	text-shadow: 0px 0px 6px rgba(235, 189, 24, 0.25);
	font-weight: semi-bold;
	flow-children: none;
    
    border: 1px solid white;
    border-brush: gradient(linear, 0% 100%, 0% 0%, from(rgb(255, 255, 255)), to(rgba(184, 255, 129, 0)));
}

.BetTextEntry Label {
	opacity: 0;
}

.BetPanelInput {
	horizontal-align: center;
	flow-children: left;
}

.BetAdjustPanel {
	height: 43px;
	flow-children: down;
	width: 20px;
}

.GoldIcon {
	width: 24px;
	height: 24px;
	background-image: url("file://{images}/custom_game/buttons/gold.png");
	background-size: 100%;
	margin-left: 10px;
	vertical-align: center;
}

.arrow_up {
	width: 12px;
	height: 9px;
	background-image: url("file://{images}/custom_game/buttons/arrow_up.png");
	background-size: 100%;
	align: center center;
}

.arrow_down {
	width: 12px;
	height: 9px;
	background-image: url("file://{images}/custom_game/buttons/arrow_down.png");
	background-size: 100%;
	align: center center;
}

.BetTextEntry #PlaceholderText {
	opacity: 1.0;
	transition-property: opacity;
	transition-duration: 0.2s;
	margin-top: 0px;
	color: white;
	font-size: 14px;
	text-overflow: shrink;
	vertical-align: center;
}

TextEntry:focus #PlaceholderText, TextEntry.HasInput #PlaceholderText {
	opacity: 0.0;
}


.BetAdjustUp {
	height: 20px;
	width: 20px;
	background-color: #736226;
	border-radius: 2px;
	margin-bottom: 1.5px;
	transition-property: background-color, brightness;
	transition-duration: 0.2s;
}

.BetAdjustUp:hover {
	background-color: #c7a21c;
}

.BetAdjustUp:active {
	brightness: 0.8;
}

.BetAdjustDown {
	height: 20px;
	width: 20px;
	background-color: #736226;
	border-radius: 2px;
	margin-top: 1.5px;
	transition-property: background-color, brightness;
	transition-duration: 0.2s;
}

.BetAdjustDown:hover {
	background-color: #c7a21c;
}

.BetAdjustDown:active {
	brightness: 0.8;
}

.BetAlertLabel {
	height: 17px;
	width: 100%;
	color: red;
	visibility: collapse;
}

.BetConfirmButton {
	width: 252px;
	height: 35px;
	horizontal-align: right;
	margin-right: 15px;
	background-color: black;
	margin-top: 6px;
}

.BetConfirmButtonLabel {
	align: center center;
	color: #FFFFFF;
	font-family: 'Radiance';
	font-size: 16px;
	font-weight: semi-bold;
	text-transform: uppercase;
}

.BetConfirmButton:hover {
	brightness: 1.2;
}

.BetConfirmButton:active {
	brightness: 0.8;
}

.BetConfirmButton_visual {
	width: 100%;
	height: 100%;
	background-color: #3C9335;
	border-radius: 2px;
	transition-property: width;
	transition-duration: 0.45s;
}

.BetBegins {
	margin-left: 32px;
	margin-bottom: 5px;
	align: left center;
	color: #FFFFFF;
	font-family: 'Radiance';
	font-size: 18px;
	font-weight: semi-bold;
	margin-top: 20px;
}

.BetMaxButtonLabel {
	text-align: center;
	align: center center;
	font-size: 25px;
	font-weight: bold;
	color: #e8eeef;
	text-shadow: 0px 0px 2px 2.0 #000000FF;
}

.BetMaxButton {
	width: 105px;
	height: 100%;
	padding: 2px;

	background-image: url("file://{images}/custom_game/betmax.png");
	background-size: 100%;
	border: 1px solid black;
	border-top-color: #aaaaaa77;
	border-left-color: #aaaaaa33;
	border-bottom-color: #333333;
	border-right-color: #404040;

	transition-property: wash-color;
	transition-duration: 0.12s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;
}

.BetMaxButton:hover {
	brightness: 1.2;
}

.BetMaxButton:active {
	brightness: 0.8;
}

.AbilityBevel {
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/custom_game/pvp_icon/ability_bevel_png.vtex");
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	z-index: 1;
	transition-property: brightness, background-color;
	transition-duration: 0.2s;
}

.Passive {}

.Passive .AbilityBevel {
	wash-color: #00000088;
	transform: rotateZ(180deg);
	brightness: 1;
}

.PlayerCalculateLabel {

	color: gradient(linear, 0% 0%, 0% 50%, from(#665a46), to(#e4e1aa));
	font-size: 20px;
	margin-bottom: 3px;
}

.PlayerCalculateLabelShrink {
	text-overflow: shrink;
}

.PlayerBetSetPercentageMain {
	flow-children: right;
	horizontal-align: right;
	margin-right: 10px;
	margin-top: 6px;
}

.PlayerBetSetPercentageButton {
	background-color: #3D463C;
	border-radius: 2px;
	width: 37px;
	height: 23px;
	margin-right: 6px;
	transition-property: background-color, brightness;
	transition-duration: 0.2s;
}

.PlayerBetSetPercentageButtonMax {
	background-color: #962727c0;
	border-radius: 2px;
	width: 76px;
	height: 25px;
	margin-right: 6px;
	transition-property: background-color, brightness;
	transition-duration: 0.2s;
}

.PlayerBetSetPercentageButton_10_label {
	font-family: 'Radiance';
	font-size: 16px;
	color: #FFFFFF;
	align: center center;
}

.PlayerBetSetPercentageButton:hover {
	background-color: #6A6C69;
}

.PlayerBetSetPercentageButton:active {
	brightness: 0.8;
}

.PlayerBetSetPercentageButtonMax:hover {
	background-color: #db4747;
}

.PlayerBetSetPercentageButtonMax:active {
	brightness: 0.8;
}

.HealthAndManaPanel {
	width: 259px;
	height: 100%;
	flow-children: down;
}

.HealthAndManaPanelWitchScepter {
	width: 100%;
	height: 45px;
	flow-children: right;
	margin-left: 5px;
	margin-bottom: 5px;
}

.HealthContainer {
	width: 260px;
	height: 20px;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 2px;
	margin-bottom: 2.5px;
}

.HealthLabel {
	font-weight: semi-bold;
	font-size: 16px;
	color: white;
	horizontal-align: center;
	vertical-align: center;
	z-index: 2;
	font-family: 'Radiance';
}

.HealthProgress {
	width: 100%;
	height: 100%;
	transition-property: width;
	transition-duration: 0.1s;
	transition-timing-function: ease-out;
	border-radius: 2px;
}

#HealthProgress_2_Right {
	background-color: #4E9131;
}

#HealthProgress_1_Right {
	background-color: #4E9131;
}

.ManaContainer {
	width: 260px;
	height: 20px;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 2px;
	margin-top: 2.5px;
}

.ManaLabel {
	font-weight: semi-bold;
	font-size: 16px;
	color: white;
	horizontal-align: center;
	vertical-align: center;
	z-index: 2;
	font-family: 'Radiance';
}

.ManaProgress {
	width: 100%;
	height: 100%;
	border-radius: 2px;
}

#ManaProgress_2_Right {
	background-color: #4872E3;
}

#ManaProgress_1_Right {
	background-color: #4872E3;
}








.round_timer {
	font-size: 20px;
	horizontal-align: right;
	margin-right: 20px;
	margin-top: 10px;
	font-family: 'Radiance';
	font-weight: semi-bold;
	color: white;
	text-align: center;
}

.BonusPlayerInformation {
	flow-children: right;
}

.HeroRank {
	margin-left: 0px;
	vertical-align: center;
	width: 42px;
	height: 42px;
	background-image: url("file://{images}/custom_game/ranks/rank0.png");
	background-size: 100%;
	margin-right: 0px;
}

.HeroInfoAndRating {
	flow-children: down;
}

.HeroInfoLevel {
	flow-children: right;
	width: 150px;
}

.LevelCircle {
	border: 1px solid #D9B67C;
	background-color: black;
	width: 26px;
	height: 26px;
	border-radius: 25px;
}

.LevelLabel {
	font-size: 16px;
	font-family: 'Radiance';
	color: rgba(255, 255, 255, 0.5);
	vertical-align: center;
	margin-left: 2px;
	margin-right: 5px;
}

.GoldInfoLabel {
	flow-children: right;
	horizontal-align: right;
}

.GoldInfoLabelText {
	color: #EBBD18;
	font-family: 'Radiance';
	font-weight: semi-bold;
	font-size: 20px;
	margin-left: 5px;
	text-align: left;
}

.GoldInfoIcon {
	background-image: url("file://{images}/custom_game/buttons/gold.png");
	background-size: 100%;
	width: 24px;
	height: 24px;
}

.HeroInfoRating {
	vertical-align: center;
}

.HeroInfoRatingLabel {
	font-family: 'Radiance';
	color: white;
	font-size: 18px;
	vertical-align: center;
}

.NeutralItem {
	border-radius: 28px;
	height: 28px;
	width: 28px;
	vertical-align: center;
	border: 1px solid #757575;
	box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.rainbow_nickname {
	color: gradient(linear, 100% 0%, 0% 0%, from(rgb(0, 183, 255)), color-stop(0.5, rgb(0, 255, 85)), to(#8e9198));
	animation-name: raindbow;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.rainbow_nickname_animate {
	animation-name: Colorgradient;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	font-weight: bold;
	text-shadow: 0px 0px 8px 0 gold;
}

@keyframes 'raindbow' {
	0% {
		color: gradient(linear, 100% 0%, 0% 0%, from(rgb(0, 183, 255)), color-stop(0.5, rgb(0, 255, 85)), to(#8e9198));
	}

	25% {
		color: gradient(linear, 100% 0%, 0% 0%, from(rgb(0, 255, 85)), color-stop(0.5, #8e9198), to(rgb(0, 183, 255)));
	}

	50% {
		color: gradient(linear, 100% 0%, 0% 0%, from(#8e9198), color-stop(0.5, rgb(0, 183, 255)), to(rgb(0, 255, 85)));
	}

	75% {
		color: gradient(linear, 100% 0%, 0% 0%, from(rgb(0, 255, 85)), color-stop(0.5, #8e9198), to(rgb(0, 183, 255)));
	}

	100% {
		color: gradient(linear, 100% 0%, 0% 0%, from(rgb(0, 183, 255)), color-stop(0.5, rgb(0, 255, 85)), to(#8e9198));
	}
}

@keyframes 'Colorgradient' {
	0% {
		color: gradient(linear, 100% 0%, 0% 0%, from(#fedd45, color-stop(0.5, #fff700), to(#eebb0a));
				text-shadow: 0px 0px 8px 0 gold;
		}

		25% {
			color: gradient(linear, 100% 0%, 0% 0%, from(#fff700), color-stop(0.5, #eebb0a), to(#fedd45));
			text-shadow: 0px 0px 8px 1 gold;
		}

		50% {
			color: gradient(linear, 100% 0%, 0% 0%, from(#eebb0a), color-stop(0.5, #fedd45), to(#fff700));
			text-shadow: 0px 0px 8px 2 gold;
		}

		75% {
			color: gradient(linear, 100% 0%, 0% 0%, from(#fff700), color-stop(0.5, #eebb0a), to(#fedd45));
			text-shadow: 0px 0px 8px 1 gold;
		}

		100% {
			color: gradient(linear, 100% 0%, 0% 0%, from(#fedd45), color-stop(0.5, #fff700), to(#eebb0a));
			text-shadow: 0px 0px 8px 0 gold;
		}
	}

	.rank_number {
		font-size: 12px;
		text-align: center;
		text-shadow: 0px 0px 3px 3.0 black;
		background-color: rgba(0, 0, 0, 0.2);
		color: white;
		width: 100%;
		font-weight: bold;
		z-index: 10;
		vertical-align: bottom;
		transform: translateY(2px);
	}

	.AbilityBevel {
		width: 100%;
		height: 100%;
		opacity: 0;
	}

	.ability_levelbox {
		vertical-align: bottom;
		flow-children: right;
		horizontal-align: center;
		z-index: 5;
		background-color: rgba(0, 0, 0, 0.158);
	}

	.ability_level_quad {
		width: 5px;
		height: 5px;
		background-color: gradient(linear, 0% 0%, 0% 100%, from(#E7D291), to(#887845));
		margin-left: 1.2px;
		margin-right: 1.2px;
		margin-bottom: 2px;
		box-shadow: #000000bb 0px 0px 1px 1px;
	}

	.ability_level_quad_not_learn {
		width: 5px;
		height: 5px;
		background-color: black;
		margin-left: 1.2px;
		margin-right: 1.2px;
		margin-bottom: 2px;
	}

	.playermainpanelbg {
		width: 100%;
		height: 100%;
		opacity: 0.35;
		opacity-mask: url("file://{images}/custom_game/rounds/opacity_m.png");
		background-repeat: no-repeat;
		background-position: left 0px top -40px;
	}