@define time_frame: .5s;

@keyframes 'MoveUpAnimation' {

	0% {

		transform: translateY(0px);
	}

	100% {

		transform: translateY(-100px);
	}
}

@keyframes 'MoveDownAnimation' {

	0% {

		transform: translateY(0px);
	}

	100% {

		transform: translateY(100px);
	}
}

.Hidden {
	opacity: 0.0;
}

.PvPMainBackground {}

.playermainpanelbg {
	width: 100%;
	height: 100%;
	opacity: 0.35;
	opacity-mask: url("file://{images}/custom_game/rounds/opacity_m.png");
	background-repeat: no-repeat;
	background-position: left 0px top -40px;
}

.AbilityBevel {
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/custom_game/pvp_icon/ability_bevel_png.vtex");
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	z-index: 1;
	transition-property: brightness, background-color;
	transition-duration: 0.2s;
	opacity: 0;
}

.MoveUp {

	animation-name: MoveUpAnimation;
	animation-duration: 4s;
	animation-timing-function: linear;
}


.MoveDown {

	animation-name: MoveDownAnimation;
	animation-duration: 4s;
	animation-timing-function: linear;
}



.HUDFlipped .PvPMainHidden {
	transform: translatex(500px);
}

.PvPMainHidden {
	opacity: 0.0;
	transform: translatex(-500px);
}

.TeamBriefPvpPanel {
	flow-children: down;
	width: 100%;
	margin-top: 8px;
	//background-color: #222621;
    background-color: rgba(0,0,0,0.9);
	border: 1px solid white;
	border-brush: gradient(linear, 0% 100%, 0% 0%, from(rgba(184, 255, 129, 1)), to(rgba(184, 255, 129, 0)));
}

#SecondTeamBrief {
	border-brush: gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 129, 129)), to(rgba(255, 129, 129, 0)));
}

.HUDFlipped #PvPMain {
	horizontal-align: right;
}


.PvPMain {
	flow-children: down;
	margin-top: 190px;
	width: 370px;
	transition-property: opacity;
	transition-duration: 0.2s;
	padding-top: 10px;

	padding-right: 10px;
	transition-property: transform, opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

.PvPMain2x6 {
	flow-children: down;
	margin-top: 50px;
	width: 365px;
	transition-property: opacity;
	transition-duration: 0.2s;
	padding-top: 10px;
	padding-right: 10px;
	transition-property: transform, opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

.HealthAndManaPanel {
	width: 259px;
	height: 100%;
	flow-children: down;
}

.HealthAndManaPanelWitchScepter {
	width: 100%;
	height: 45px;
	flow-children: right;
	margin-left: 5px;
	margin-bottom: 5px;
}

.HealthContainer {
	width: 260px;
	height: 20px;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 2px;
	margin-bottom: 2.5px;
}

.HealthLabel {
	font-weight: semi-bold;
	font-size: 16px;
	color: white;
	horizontal-align: center;
	vertical-align: center;
	z-index: 2;
	font-family: 'Radiance';
}

.HealthProgress {
	width: 100%;
	height: 100%;
	transition-property: width;
	transition-duration: 0.1s;
	transition-timing-function: ease-out;
	border-radius: 2px;
}

.HealthProgressLeft {
	background-color: #4E9131;
}

.ManaContainer {
	width: 260px;
	height: 20px;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 2px;
	margin-top: 2.5px;
}

.ManaLabel {
	font-weight: semi-bold;
	font-size: 16px;
	color: white;
	horizontal-align: center;
	vertical-align: center;
	z-index: 2;
	font-family: 'Radiance';
}

.ManaProgress {
	width: 100%;
	height: 100%;
	border-radius: 2px;
}

.ManaProgressLeft {
	background-color: #4872E3;
}

.AbilityPanel {
	margin-top: 5px;
	margin-left: 5px;
	flow-children: right-wrap;
	width: 284px;
	margin-bottom: 5px;
}

.PlayerAbilityPanel {
	flow-children: down;
	background-color: gradient(linear, -70% -10%, 100% 0%, from(rgba(60, 147, 52, 0.164)), to(rgba(60, 147, 52, 0)));
}

#SecondTeamBrief .PlayerAbilityPanel {
	background-color: gradient(linear, -70% -10%, 100% 0%, from(rgba(147, 52, 52, 0.164)), to(rgba(147, 52, 52, 0)));
}

.AbilityItem {
	width: 39px;
	height: 39px;
	margin-right: 5px;
}

.ItemPanel {
	flow-children: right;
	width: 343px;
	height: 36px;
	margin-left: 5px;
	margin-bottom: 6px;
}

.hidden_ab_spawn {
	width: 39px;
	height: 39px;
	margin-right: 5px;
	background-image: url("file://{images}/custom_game/buttons/logo_ab.png");
	background-size: 39px 39px;
	background-position: 0px;
	margin-bottom: 6px;
}

.HealthAndManaPanelWitchScepter {
	width: 100%;
	height: 45px;
	flow-children: right;
	margin-left: 5px;
	margin-bottom: 5px;
}

.ItemPanel DOTAItemImage {
	width: 39px;
	height: 28px;
	vertical-align: center;
	margin-right: 5px;
	background-image: url("file://{images}/custom_game/buttons/logo_ab.png");
	background-size: 39px 39px;
	background-position: 0px;
	border: 1px solid #757575;
	box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.PlayerName {
	color: #ffffff;
	font-family: defaultFont;
	font-size: 18px;
	text-shadow: -1px 2px 6px 2 #000000;
	max-width: 150px;
	height: 24px;
	margin-top: 15px;
	margin-left: 10px;
}

.Passive {}

.Passive .AbilityBevel {}

.HeroIcon {
	height: 30px;
	width: 50px;
	margin-right: 4px;
	vertical-align: center;
}

.HeroInfo {
	flow-children: right;
	height: 50px;
	width: 100%;
}


.BetInfoContainer {
	flow-children: down;
	width: 100%;
	margin-bottom: 7px;
}

.PlayerBetLine {
	width: 100%;
	height: 20px;
	margin-left: 5px;
	flow-children: right;
}

#HeroIcon {
	width: 18px;
	height: 18px;
	margin-right: 2px;
	vertical-align: center;
}

#BetValueProgressBar {

	width: 80%;
	height: 100%;
	border-radius: 0px;
	border-width: 0px;
	box-shadow: none;
	background-color: transparent;
	padding-left: 2px;
	padding-right: 4px;
}


#BetValueProgressBar_Left {
	vertical-align: center;
	max-height: 3px;
	flow-children: right;
	border-radius: 10px;
	background-color: #C3FF44;
}

#BetValueProgressBar_Right {
	vertical-align: center;
	margin-left: 0px;
	min-width: 3px;
	min-height: 7px;
	max-width: 3px;
	max-height: 7px;
	background-color: #C3FF44;
}

#BetValue {
	vertical-align: center;
	font-size: 14px;
	color: #EBBD18;
	font-weight: bold;
	margin-left: 4px;
	text-shadow: -1px 1px 4px 2 #000000;
}

#CooldownTimer {

	color: white;
	font-size: 12px;
	text-shadow: 0px 0px 6px 6 #000000;
	width: 100%;
	text-align: center;
	vertical-align: center;
	text-overflow: shrink;
}


.Cooldown {
	align: center center;
	width: 100%;
	height: 100%;
}


#CooldownOverlay {
	transition-property: clip;
	transition-duration: 0.45s;
	background-color: #000000dc;
	width: 100%;
	height: 100%;
	brightness: 1.2;
}

#CooldownTimerItem {

	color: white;
	font-size: 12px;
	text-shadow: 0px 0px 6px 6 #000000;
	width: 100%;
	text-align: center;
	vertical-align: center;
	text-overflow: shrink;
}


.CooldownItem {
	align: center center;
	width: 100%;
	height: 100%;
}


#CooldownOverlayItem {
	transition-property: clip;
	transition-duration: 0.45s;
	background-color: #000000dc;
	width: 100%;
	height: 100%;
	brightness: 1.2;
}

.InsufficientMana {
	wash-color: #1569be;
}


#VsLogo {
	width: 0px;
	height: 0px;
	visibility: collapse;
	opacity: 0;
	horizontal-align: center;
	margin-bottom: 10px;
}


#VsLogo Image {
	width: 0%;
	height: 0%;
	visibility: collapse;
	opacity: 0;
	align: center center;
	horizontal-align: center;
}

#PvPMainHeader {
	width: 100%;
	height: 20px;
	flow-children: right;
}


#PvPMainHeaderTitle {
	font-size: 16px;
	font-family: 'Radiance';
	color: #FFFFFF;
	text-overflow: shrink;
	margin-left: 10px;
}


.HUDFlipped #PvPMainHeaderHideButton {
	background-image: url("file://{images}/custom_game/buttons/duel_right.png");
}


#PvPMainHeaderHideButton {

	vertical-align: center;
	horizontal-align: right;
	width: 20px;
	height: 18px;
	background-image: url("file://{images}/custom_game/buttons/duel_left.png");
	background-size: 100%;
}

.HUDFlipped #PvPMainHeaderShowPanel {
	horizontal-align: right;
}

#PvPMainHeaderShowPanel {

	background-color: #000000cc;
	margin-top: 215px;
	width: 20px;
	height: 18px;
}


.HUDFlipped #PvPMainHeaderShowButton {
	background-image: url("file://{images}/custom_game/buttons/duel_left.png");
}



#PvPMainHeaderShowButton {
	vertical-align: center;
	horizontal-align: right;
	width: 20px;
	height: 18px;
	background-image: url("file://{images}/custom_game/buttons/duel_right.png");
	background-size: 100%;
}


.TeamLogoBrief {
	height: 20px;
	width: 20px;
	background-color: rgba(0, 0, 0, 0.90);
	z-index: 10;
	transform: translateY(-2px);
}

.TeamLogoBrief Image {
	height: 20px;
	width: 20px;
}

.TeamLogoBriefIcon {
	wash-color: black;
}

#GoldIcon {
	background-image: url("file://{images}/custom_game/buttons/gold.png");
	background-size: 100%;
	width: 24px;
	height: 24px;
	vertical-align: center;
	margin-left: 5px;
}

#GoldValue {
	color: #EBBD18;
	font-family: 'Radiance';
	font-weight: semi-bold;
	font-size: 18px;
	margin-left: 5px;
	vertical-align: center;
}

.HeroName {
	font-size: 16px;
	font-family: 'Radiance';
	color: #FFFFFF;
	vertical-align: center;
}

.HeroIconAndHealthAndMana {
	flow-children: right;
	margin-left: 3px;
	margin-bottom: 5px;
}


.HealthAndManaPanel {
	width: 259px;
	height: 100%;
	flow-children: down;
}


.BonusPlayerInformation {
	flow-children: right;
}

.HeroRank {
	margin-left: 0px;
	vertical-align: center;
	width: 42px;
	height: 42px;
	background-image: url("file://{images}/custom_game/ranks/rank0.png");
	background-size: 100%;
	margin-right: 0px;
}

.HeroInfoAndRating {
	flow-children: down;
}

.HeroInfoLevel {
	flow-children: right;
	width: 150px;
}

.LevelCircle {
	border: 1px solid #D9B67C;
	background-color: black;
	width: 26px;
	height: 26px;
	border-radius: 25px;
}

.LevelLabel {
	font-size: 16px;
	font-family: 'Radiance';
	color: rgba(255, 255, 255, 0.5);
	vertical-align: center;
	margin-left: 2px;
	margin-right: 5px;
}

.GoldInfoLabel {
	flow-children: right;
	horizontal-align: right;
}

.GoldInfoLabelText {
	color: #EBBD18;
	font-family: 'Radiance';
	font-weight: semi-bold;
	font-size: 20px;
	margin-left: 5px;
	text-align: left;
}

.GoldInfoIcon {
	background-image: url("file://{images}/custom_game/buttons/gold.png");
	background-size: 100%;
	width: 24px;
	height: 24px;
}

.HeroInfoRating {
	vertical-align: center;
}


.HeroInfoRatingLabel {
	font-family: 'Radiance';
	color: white;
	font-size: 18px;
	vertical-align: center;
}

.NeutralItem {
	border-radius: 28px;
	border: 1px solid #717879;
	height: 28px;
	width: 28px;
	vertical-align: center;

}

.rank_number {
	font-size: 12px;
	text-align: center;
	text-shadow: 0px 0px 3px 3.0 black;
	background-color: rgba(0, 0, 0, 0.2);
	color: white;
	width: 100%;
	font-weight: bold;
	z-index: 10;
	vertical-align: bottom;
	transform: translateY(2px);
}


.AbilityBevel {
	width: 100%;
	height: 100%;

}

.ability_levelbox {
	vertical-align: bottom;
	flow-children: right;
	horizontal-align: center;
	z-index: 5;
}

.ability_level_quad {
	width: 5px;
	height: 5px;
	background-color: gradient(linear, 0% 0%, 0% 100%, from(#E7D291), to(#887845));
	margin-left: 2px;
	margin-right: 2px;
	box-shadow: #000000bb 0px 0px 1px 1px;
}

.ability_level_quad_not_learn {
	width: 5px;
	height: 5px;
	background-color: gradient(linear, 0% 0%, 0% 100%, from(#111111ff), to(#000000ff));
	margin-left: 2px;
	margin-right: 2px;
	box-shadow: #000000bb 0px 0px 1px 1px;
}




.PvpCenterInformation {
	margin-top: 90px;
	align: center top;
	flow-children: right;
	opacity: 0;
}

.Player {
	flow-children: down;
}

.Portrait {
	width: 90px;
	height: 50px;
	box-shadow: #000000bb 0px 0px 4px 1px;
	background-image: url("s2r://panorama/images/heroes/npc_dota_hero_sniper_png.vtex");
	background-size: 100%;
}

.PvpLabelTop {
	color: #bf1b1b;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 5px;
	horizontal-align: center;
	text-shadow: 0px 0px 5px 2.0 #000000;
}

.LineTopPvPInfo {
	width: 350px;
	height: 22px;
	horizontal-align: center;
}

.LineTopPvPInfoTeamChildren {
	width: 350px;
	height: 22px;
}

.LineTopPvPInfoTeam2 {
	horizontal-align: right;
	height: 100%;
	width: 0%;
	background-color: gradient(linear, 0% 0%, 0% 100%, from(#425d25), color-stop(0.2, #5BA539), color-stop(.5, #4D9030), to(#425d25));
}

.LineTopPvPInfoTeam1 {
	horizontal-align: left;
	height: 100%;
	width: 0%;
	background-color: gradient(linear, 0% 0%, 0% 100%, from(#425d25), color-stop(0.2, #5BA539), color-stop(.5, #4D9030), to(#425d25));
}

.PlayerLoseColor {
	background-color: gradient(linear, 0% 0%, 0% 100%, from(#5D2E25), color-stop(0.2, #A54E39), color-stop(.5, #904030), to(#5D2C25));
}

.LineTopPvPInfoBG {
	width: 100%;
	height: 100%;
	background-color: #121216;
	border-top: 1px solid #99999905;
	border-bottom: 1px solid #00000060;
	border-left: 1px solid #99999905;
	border-right: 1px solid #00000060;
	horizontal-align: center;
	box-shadow: #000000bb 0px 0px 1px 1px;
}

.InformationPVPTop {
	margin-left: 30px;
	margin-right: 30px;
	vertical-align: center;
	flow-children: down;
	margin-bottom: 30px;
}

.DamageTopInfo {
	align: center center;
	text-align: center;
	font-size: 16px;
	color: #F3C670;
	text-shadow: 2px 2px 2px black;
	font-family: Reaver;
	font-weight: semi-bold;
}

.PlayerLoseColor #ProgressBurner {
	wash-color: red;
}

.PlayerLoseColor #ProgressBurner2 {
	wash-color: red;
}

.PvpCenterInformation {
	visibility: collapse;
}

.rainbow_nickname {
	color: gradient(linear, 100% 0%, 0% 0%, from(rgb(0, 183, 255)), color-stop(0.5, rgb(0, 255, 85)), to(#8e9198));
	animation-name: raindbow;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.rainbow_nickname_animate {
	animation-name: Colorgradient;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	font-weight: bold;
	text-shadow: 0px 0px 8px 0 gold;
}

@keyframes 'raindbow' {
	0% {
		color: gradient(linear, 100% 0%, 0% 0%, from(rgb(0, 183, 255)), color-stop(0.5, rgb(0, 255, 85)), to(#8e9198));
	}

	25% {
		color: gradient(linear, 100% 0%, 0% 0%, from(rgb(0, 255, 85)), color-stop(0.5, #8e9198), to(rgb(0, 183, 255)));
	}

	50% {
		color: gradient(linear, 100% 0%, 0% 0%, from(#8e9198), color-stop(0.5, rgb(0, 183, 255)), to(rgb(0, 255, 85)));
	}

	75% {
		color: gradient(linear, 100% 0%, 0% 0%, from(rgb(0, 255, 85)), color-stop(0.5, #8e9198), to(rgb(0, 183, 255)));
	}

	100% {
		color: gradient(linear, 100% 0%, 0% 0%, from(rgb(0, 183, 255)), color-stop(0.5, rgb(0, 255, 85)), to(#8e9198));
	}
}

@keyframes 'Colorgradient' {
	0% {
		color: gradient(linear, 100% 0%, 0% 0%, from(#fedd45, color-stop(0.5, #fff700), to(#eebb0a));
				text-shadow: 0px 0px 8px 0 gold;
		}

		25% {
			color: gradient(linear, 100% 0%, 0% 0%, from(#fff700), color-stop(0.5, #eebb0a), to(#fedd45));
			text-shadow: 0px 0px 8px 1 gold;
		}

		50% {
			color: gradient(linear, 100% 0%, 0% 0%, from(#eebb0a), color-stop(0.5, #fedd45), to(#fff700));
			text-shadow: 0px 0px 8px 2 gold;
		}

		75% {
			color: gradient(linear, 100% 0%, 0% 0%, from(#fff700), color-stop(0.5, #eebb0a), to(#fedd45));
			text-shadow: 0px 0px 8px 1 gold;
		}

		100% {
			color: gradient(linear, 100% 0%, 0% 0%, from(#fedd45), color-stop(0.5, #fff700), to(#eebb0a));
			text-shadow: 0px 0px 8px 0 gold;
		}
	}

	.playermainpanelbg {
		width: 100%;
		height: 100%;
		opacity: 0.35;
		opacity-mask: url("file://{images}/custom_game/rounds/opacity_m.png");
		background-repeat: no-repeat;
		background-position: left 0px top -40px;
	}

	.SkillPanelBlock {
		width: 284px;
		margin-top: 1px;
		margin-left: 8px;
		margin-bottom: 5px;
		flow-children: right-wrap;
	}

	.SkillPanel1 {
		width: 32px;
		height: 32px;
		margin-right: 10px;
		border: 1px solid #BEBEBE;
		vertical-align: center;
		border-radius: 100%;
	}

	.SkillPanel2 {
		width: 32px;
		height: 32px;
		margin-right: 10px;
		border: 1px solid #92E47E;
		vertical-align: center;
		border-radius: 100%;
	}

	.SkillPanel3 {
		width: 32px;
		height: 32px;
		margin-right: 10px;
		border: 1px solid #7F93FC;
		vertical-align: center;
		border-radius: 100%;
	}

	.SkillPanel4 {
		width: 32px;
		height: 32px;
		margin-right: 10px;
		border: 1px solid #D57BFF;
		border-radius: 100%;
	}

	.SkillPanel5 {
		width: 32px;
		height: 32px;
		margin-right: 10px;
		border: 1px solid #FFE195;
		vertical-align: center;
		border-radius: 100%;
	}