.ReadyButtonNew
{
    width: 70px;
    height: 25px;
    background-color: gradient(radial, 50% 0%, 0% 0%, 70% 100%, from(#7DB437), to(#44611F)));
    border-radius: 4px;
    text-align: center;
    visibility: collapse;
    margin-left: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.ReadyButtonNew:hover
{
    box-shadow: 0 0 1px 0px rgba(0, 200, 0, 0.5);
}

.ReadyTextNew {
    align: center center;
    font-size: 12px;
    font-family: 'Radiance';
    color: #FFFFFF;
    text-shadow: 0px 0px 2px 2 #000000;
}