@define defaultFont: Radiance, FZLanTingHei-R-GBK, TH Sarabun New, YDYGO 540, Gulim, MingLiU;

Label, TextEntry {
  font-family: defaultFont;
}

.Hidden {
  opacity: 0.0;
}

.Collapse {
  visibility: collapse;
}

.SliderTitle {
  color: white;
  width: 410px;
}

.SliderValue {
  color: white;
  horizontal-align: right;
  text-align: right;
}

#DotamindDownloadQR {
  width: 100px;
  height: 100px;
}

.Close {
  width: 35px;
  height: 35px;
  horizontal-align: right;
  margin-right: 5px;
  margin-top: 5px;
  background-image: url("s2r://panorama/images/control_icons/x_close_grey_psd.vtex");
  background-size: 100% 100%;
  wash-color: white;
  transition-property: brightness;
  transition-duration: 0.1s;
  brightness: 3;
}

.Close:hover {
  brightness: 1;
}

#AbilityOrder_CloseButton {
  width: 200px;
  height: 50px;
  horizontal-align: center;
  vertical-align: center;
  border-radius: 15px;
  padding: 10px;
  box-shadow: fill transparent 0px 0px 0px 0px;
  background-color: gradient(linear, 0% 0%, 0% 100%, from(#bd1818), to(#811414));
  background-image: url("s2r://panorama/images/custom_game/extract/background_play_button_2x_png.vtex");
  background-size: 328px 50px;
  transition-property: transform, brightness;
  transition-duration: 0.3s;
  margin-bottom: 20px;
}

#AbilityOrder_CloseButton Label {
  font-size: 24px;
  color: #cccccc;
  align: center center;
}

#AbilityOrder_CloseButton:hover {
  brightness: 2.0;
}

#AbilityOrder_CloseButton:active {
  brightness: 0.5;
}

.AbilityOrderPanelRoot {
  margin-top: 50px;
  horizontal-align: center;
  flow-children: down;
  transform: translateY(0px) scale3d(0.1, 0.1, 0.1);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  background-image: url("s2r://panorama/images/custom_game/extract/ability_bg_png.vtex");
  background-size: 100% 100%;
  border: 2px solid #32383677;
  opacity: 0;
}

.AbilityOrderPanelRoot.Show {
  transform: translateY(0px) scale3d(1, 1, 1);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  opacity: 1;
}

.AbilityOrderPanel {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  flow-children: down;
  width: 1200px;
  vertical-align: center;
  horizontal-align: left;
  transition-property: transform, opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.AbilityOrderPanel Label {
  horizontal-align: center;
  color: white;
  text-align: center;
}

#AbilityName {
  horizontal-align: center;
  color: white;
  text-overflow: shrink;
  height: 25px;
  text-align: center;
}

#MatchKeySetting {
  flow-children: down;
  width: 500px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  horizontal-align: center;
}

#MatchKeyTitle {
  font-size: 24px;
  color: white;
  horizontal-align: left;
  flow-children: down;
  text-transform: uppercase;
}

#BarrageSetting {
  flow-children: down;
  width: 500px;
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  horizontal-align: center;
  margin-top: 10px;
}

#BarrageSettingTitle {
  font-size: 24px;
  color: white;
  horizontal-align: left;
  flow-children: down;
  text-transform: uppercase;
}

#AbilityOrderTitle {
  font-size: 24px;
  color: white;
  horizontal-align: left;
  flow-children: down;
  text-transform: uppercase;
}

#AbilityOrderSubTitle {
  font-size: 16px;
  color: white;
  horizontal-align: left;
  flow-children: down;
}

#AbilityOrderAbilityBody {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 1200px;
  flow-children: right-wrap;
  horizontal-align: center;
}

.AbilityOrderRoot {
  width: 65px;
  height: 110px;
  margin-left: 25px;
  margin-right: 25px;
  flow-children: down;
}

.HeroBannedRoot {
  margin-left: 5px;
  margin-right: 5px;
}

#ButtonPanel {
  height: 30px;
  width: 65px;
  flow-children: right;
  horizontal-align: center;
}

#ButtonLeft {
  width: 20px;
  height: 20px;
  background-size: 100%;
  background-image: url("s2r://panorama/images/control_icons/arrow_solid_left_png.vtex");
  horizontal-align: left;
  wash-color: #9999aa;
}

#ButtonRight {
  width: 20px;
  height: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("s2r://panorama/images/control_icons/arrow_solid_right_png.vtex");
  horizontal-align: right;
  wash-color: #9999aa;
}

#ButtonLeft:hover {
  brightness: 2.0;
}

#ButtonRight:hover {
  brightness: 2.0;
}

#ButtonLeft:disabled {
  wash-color: #111111;
}

#ButtonRight:disabled {
  wash-color: #111111;
}

#BarrageOpacitySlider {
  margin-top: 10px;
  width: 500px;
}

#CameraSetting {
  flow-children: down;
  width: 500px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  horizontal-align: center;
}

#CameraSettingTitle {
  font-size: 24px;
  color: white;
  horizontal-align: left;
  flow-children: down;
  text-transform: uppercase;
}

#CameraCheckBoxes {
  align: left center;
  flow-children: down;
}

#UICheckBoxes {
  align: left center;
  flow-children: down;
}

#DuelCameraContainer, #CreepsCameraContainer, #UIContainer {
  margin-top: 10px;
  flow-children: right;
}
#DuelCameraContainer, #CreepsCameraContainer, #UIContainer2 {
  margin-top: 10px;
  flow-children: right;
}

#CreepsCameraContainer {
  margin-top: 10px;
  flow-children: right;
}

#MatchKeyEntryContainer {
  flow-children: right;
}

.CameraLabel {
  font-size: 16px;
  margin-left: 5px;
  margin-top: 1px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.Checkbox {
  horizontal-align: center;
  vertical-align: center;
  width: 18px;
  height: 18px;
  background-color: black;
  transition-property: background-color, box-shadow, color, border, background-image, wash-color, pre-transform-scale2d;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  padding: 0, 0;
}

.TickBox {
  border: 0px;
}

.Checkbox:selected {
  border-color: black;
  background-color: gradient(linear, 100% 0%, 50% 100%, from(#00e6ff), to(#91c8cf));
  box-shadow: #CEBC8311 0px 0px 2px 0px;
}

.SectionHeaderLine {
  height: 2px;
  width: 100%;
  background-color: #AAAAAA;
  margin-top: 2px;
  margin-bottom: 12px;
}

#MatchKeyEntry {
  height: 35px;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  vertical-align: center;
  line-height: 25px;
  font-size: 20px;
  padding: 5px;
}

#MatchWebTip {
  vertical-align: center;
  color: white;
  height: 30px;
}

#MatchWebLink {
  margin-top: 0px;
  color: blue;
  height: 30px;
}

#MatchWebLink Label {
  vertical-align: center;
  color: rgb(137, 207, 240);
}

#MatchKeyNoteContainer {
  flow-children: down;
  margin-left: 10px;
}

#MatchKeyLabel {
  font-size: 20px;
  vertical-align: center;
  text-align: center;
  height: 25px;
  width: 100px;
  color: white;
}

#BanHeroPanel {
  flow-children: down;
  width: 1200px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  horizontal-align: left;
}

.MainSettingsContainer {
  flow-children: right;
}

.SettingLeft {
  flow-children: down;
}

.SettingRight {
  flow-children: right-wrap;
}

.ButtonWithChatWheel:hover {
  brightness: 2;
}

.ButtonWithChatWheel {
  width: 150px;
  height: 150px;
  flow-children: down;
  margin-top: 10px;
}

.ChatWheelName {
  horizontal-align: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 5px;
}

.ChatWheelImage {
  width: 80px;
  height: 80px;
  background-image: url("s2r://panorama/images/settings_chatwheel_png.vtex");
  background-size: 100%;
  horizontal-align: center;
  margin-top: 5px;
}

.ButtonWithKeyBind:hover {
  brightness: 2;
}

.ButtonWithKeyBind {
  width: 150px;
  height: 150px;
  flow-children: down;
  margin-top: 10px;
}

.KeybindName {
  horizontal-align: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 5px;
}

.KeybindImage {
  width: 80px;
  height: 80px;
  background-image: url("s2r://panorama/images/key_illustration_psd.vtex");
  background-size: 100%;
  horizontal-align: center;
  margin-top: 5px;
}

.ButtonWithGuide:hover {
  brightness: 2;
}

.ButtonWithGuide {
  width: 150px;
  height: 150px;
  flow-children: down;
  margin-top: 10px;
}

.GuideName {
  horizontal-align: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 5px;
}

.GuideImage {
  width: 80px;
  height: 80px;
  background-image: url("s2r://panorama/images/hud/reborn/ping_icon_default_psd.vtex");
  background-size: 100%;
  horizontal-align: center;
  margin-top: 5px;
}

.ButtonWithCustomize:hover {
  brightness: 2;
}

.ButtonWithCustomize {
  width: 150px;
  height: 150px;
  flow-children: down;
  margin-top: 10px;
}

.CustomizeName {
  horizontal-align: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 5px;
}

.CustomizeImage {
  width: 80px;
  height: 80px;
  background-image: url("file://{images}/custom_game/user.png");
  background-size: 100%;
  horizontal-align: center;
  margin-top: 5px;
}

#BanHeroTitle {
  font-size: 24px;
  color: white;
  horizontal-align: left;
  flow-children: down;
  text-transform: uppercase;
}

#BanHeroContainer {
  flow-children: right-wrap;
  horizontal-align: left;
}

#BanAbilityPanel {
  flow-children: down;
  width: 680px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  horizontal-align: left;
}

#BanAbilityTitle {
  font-size: 24px;
  color: white;
  horizontal-align: left;
  flow-children: down;
  text-transform: uppercase;
}

#BanAbilityContainer {
  flow-children: right-wrap;
  horizontal-align: left;
}

.AbilityBannedRoot {
  margin: 10px;
}

.AbilityBannedContainer {
  width: 60px;
  height: 80px;
  flow-children: down;
  saturation: 0.5;
}

#AbilityBannedName {
  font-size: 15px;
  color: white;
  horizontal-align: center;
  text-align: center;
}

.AbilityBannedBackGround {
  width: 100%;
  height: 100%;
  z-index: 10;
  background-image: url("file://{images}/custom_game/ban_png.png");
  background-size: 100%;
  vertical-align: center;
  brightness: 2;
}

.Red {
  color: red;
}

.Green {
  color: green;
}

#HeroBannedImage {
  width: 70px;
  height: 40px;
}

.HeroBannedContainer {
  width: 70px;
  height: 40px;
  flow-children: down;
  saturation: 0.5;
}

#HeroBannedName {
  font-size: 15px;
  color: white;
  horizontal-align: center;
}

.HeroBannedBackGround {
  width: 70px;
  height: 20px;
  z-index: 10;
  background-image: url("s2r://panorama/images/hero_selection/strikethrough_png.vtex");
  background-size: 120% 120%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  vertical-align: center;
  transform: rotateZ(-26deg);
  brightness: 2;
}

.ButtonWithCalibrate:hover {
  brightness: 2;
}

.ButtonWithCalibrate {
  width: 150px;
  height: 150px;
  flow-children: down;
  margin-top: 10px;
}

.CalibrateName {
  horizontal-align: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 5px;
}

.CalibrateImage {
  width: 80px;
  height: 80px;
  background-image: url("file://{images}/custom_game/donate/rewards/rating_ticket.png");
  background-size: 100%;
  horizontal-align: center;
  margin-top: 5px;
}