#TopMenuPanel
{
    horizontal-align:left;
    vertical-align:top;
    margin-left:145px;
    margin-top:10px;
    flow-children:right;
}

.ButtonMenu
{
    width: 60px;
    height: 55px;
    margin: 1px;
    flow-children: down;
}

.TopMenuIcon
{
    opacity:0.5;
    height: 33px;
    width: 33px;
    horizontal-align: center;
}

.ButtonMenu:hover .TopMenuIcon
{
    opacity: 1;
}

.TopMenuLabel
{
    horizontal-align: center;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 5px 2.0 black;
    font-size: 8px;
    margin-top: 4px;
}

#TopMenuIcon_Settings
{
    background-size:100%;
    background-image: url("s2r://panorama/images/custom_game/top_menu/order_png.vtex");
}

#TopMenuIcon_Leaderboard
{
    background-size:100%;
    background-image: url("s2r://panorama/images/custom_game/top_menu/rank_png.vtex");
}
#TopMenuIcon_Pass
{
    background-size:100%;
    background-image: url("file://{images}/custom_game/donate/battlepass/icon.png");
}
#TopMenuIcon_Wheel
{
    background-size:100%;
    background-image: url("file://{images}/custom_game/donate/wheel/icon.png");
}
#TopMenuIcon_Rewards
{
    background-size:100%;
    background-image: url("file://{images}/custom_game/donate/rewards/icon.png");
}
#TopMenuIcon_Profile
{
    background-size:100%;
    background-image: url("file://{images}/custom_game/info/icon.png");
}